# Clerk Authentication Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bWF4aW11bS1ib2EtNi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_WgI761OcJOF0rMZezLqfYp4GikXbrX6PUgLMla31qk

# Express Backend URL
NEXT_PUBLIC_API_URL=https://mychat-production-65a9.up.railway.app
